<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TXTextControl.Words.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<userSettings>
		<TXTextControl.Words.Properties.Settings>
			<setting name="RightToLeft" serializeAs="String">
				<value>No</value>
			</setting>
		</TXTextControl.Words.Properties.Settings>
	</userSettings>
</configuration>
